DB_NAME = "mdp-project"
DB_USER = "root"
DB_PASS = ""
DB_HOST = "localhost"
PORT = 8080

GEMINI_API_KEY = ""
GEMINI_MODEL = "gemini-3.1-flash-lite"
GOOGLE_MAPS_API_KEY = "your_google_maps_api_key_here"